.statisticsList {
    list-style: none; /* Usunięcie punktów z listy */
    padding: 0; /* Usunięcie domyślnego odstępu wewnętrznego */
    margin: 0; /* Usunięcie domyślnego marginesu */
    text-align: left; /* Wyrównanie tekstu do lewej */
    color: #333; /* Zmiana koloru czcionki (możesz zmienić na dowolny inny kolor) */
}

.statisticsList li {
    margin-bottom: 10px; /* Dodanie odstępu między elementami listy */
}